html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color:  #DED8E1;
}
#main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #DED8E1;
}

#botones{
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}


#arr {
    transform: rotate(90deg);
}

#der {
    transform: rotate(180deg);
}

#abj{
    transform: rotate(270deg);
}

#columna2{
    display: flex;
    flex-direction: row;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.btn{
    width: 6em;
    height: 6em;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: #9A82DB;
}


.btn img{
    display: block;
    height: 2em;
    width: 4em ;
    height: auto;
}

.colum{
    padding-bottom: 0.5em;
    display: flex;
}

#columna4{
}

#columna0{
	margin: auto;
    margin-right: 5px;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

#ok{
    height: 8em;
    width: 8em;
}

header{
    width: 100%;
    height: 3.5em;
    background: #381E72;
    border-radius: 0 0 1em 1em;
	margin-top: 0;
}

footer{
    width: 100%;
    height: 3.5em;
    background: #381E72;
    border-radius: 1em 1em 0 0;
	margin: auto;
	margin-bottom: 0;

}

.controller{
	height: 100%;
}


/* CSS GESTOS */

.gesture{
	height: 100%;
	width: 100%;
}

#texto-gestos{
	
	position: fixed;
	height: 100%;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 5em;
	top: 0;
	z-index: -99;
}


#texto-gestos p{
    transform: rotate(90deg);
	font-size:10vw;
}

#box-cambiar-modo{
    padding-left: 16em;
    margin-left: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 1em;
	z-index: 1;
}
