body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}
.test span{
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bolder;
}

.navbar-dark {
    background-color: #21005D!important;
}